<!DOCTYPE html>
<html>
<head>
    <title>Pagina noastra</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <h1>Welcome to my amazing app !</h1>

</body>
</html>
