<!DOCTYPE html>
<html>
<head>
    <title>Pagina noastra</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .notes-container-grid{
            margin-top: 30px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;
        }

        .notes {
            background-color: burlywood;
            border-radius: 10px;
            padding: 15px;
        }
    </style>
</head>
<body>

<div class="container mb-3">
    <div class="title">
        <h2><%= note.title%></h2>
        <p class="light"><%= note.description%></p>
    </div>

</div>

</body>
</html>
